extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    #loaderTemplate(style="display: none")
        .card_mypass_head self.labels.loading

    if self.data.shops
        each shop in self.data.shops

            section.shop

                //- //- Poe title
                //- if shop.title
                //-     h1.section_headline= shop.title

                //- Poe intro
                //- if shop.intro
                //-     .shop_intro_box
                //-         p.shop_intro= shop.intro

                if shop.prodCatList && shop.prodCatList
                    each prodCatList in shop.prodCatList

                        //- ProdCatList title
                        //- if prodCatList.title
                        //-     h3.sub_section_headline= prodCatList.title



                        if prodCatList.orderedProductCategories
                            each orderedProductCategory in prodCatList.orderedProductCategories.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                if orderedProductCategory.product_category
                                    - var product = orderedProductCategory.product_category

                                    .card_mypass.dark_1(id= `template_${product.id}`, style="display: none")
                                        //- h4.text_center= product.name
                                        .card_mypass_head= product.name

                                        div.qrCode
                                            //- (style='width: 30px')
                                        div.passCode kood

                                        img.profilePic
                                        div.fullName nimi

                                        //- div
                                        //-     +euro(product.priceAtPeriod[0].price)

                                        //- if typeof product.description !== 'undefined'
                                        //-     - var desc_md = product.description
                                        //-     .pass_desc
                                        //-         if typeof desc_md === 'string'
                                        //-             +format(desc_md).dark_4

                                        //- p.dark_4= product.description


                        section.mypasses_items_list(id='my_passes')



                //- if shop.shopRulesygtf
                //-     if typeof shop.shopRules === 'string'
                //-         p
                //-             +format(shop.shopRules)



    //- e pood, pealkiri, intro text, toodete leotelu osa, millel samuti pealkiri ja siis listitud tooted, - seos Product_Category’dega
    //- ja alla veel shopRules text osa, igaks juhuks
