*.ssh


############################
# www
############################

www/*

############################
# Live site backup
############################
backup/*


############################
# ssg
############################

ssg/node_modules
ssg/.DS_Store
ssg/helpers/sheets

# sanity
ssg/*.pickle
ssg/credentials.json
ssg/token.json
ssg/.env
ssg/report.*
ssg/helpers/sheets
ssg/helpers/visitestonia
ssg/helpers/temp


# dev tools
ssg/.vscode/*


# dynamic stuff
ssg/build
ssg/archive
ssg/source/_fetchdir/*
ssg/source/_fetchdirRestricted/*
ssg/source/_styles/*
ssg/source/global.et.yaml
ssg/source/global.en.yaml
ssg/source/global.ru.yaml
ssg/helpers/build_logs.yaml
ssg/helpers/build_queue.yaml

ssg/assets/img/dynamic/*
ssg/assets/xml/*

ssg/source/cassettes.csv

ssg/eventival/dynamic/*
ssg/entu-ssg.yaml
ssg/vialog/vialog.json

ssg/source/_allStrapidata/*
ssg/source/_domainStrapidata/*
ssg/*.icloud
ssg/eventival/static/.films.yaml.icloud
ssg/eventival/static/.films.yaml.icloud

ssg/is_dev.flag


############################
# Strapi/
############################

strapi/*
!strapi/strapi-development


############################
# OS X
############################

strapi/strapi-development/.DS_Store
strapi/strapi-development/.AppleDouble
strapi/strapi-development/.LSOverride
strapi/strapi-development/Icon
strapi/strapi-development/.Spotlight-V100
strapi/strapi-development/.Trashes
strapi/strapi-development/._*


############################
# Linux
############################

strapi/strapi-development/*~


############################
# Windows
############################

strapi/strapi-development/Thumbs.db
strapi/strapi-development/ehthumbs.db
strapi/strapi-development/Desktop.ini
strapi/strapi-development/$RECYCLE.BIN/
strapi/strapi-development/*.cab
strapi/strapi-development/*.msi
strapi/strapi-development/*.msm
strapi/strapi-development/*.msp


############################
# Packages
############################

strapi/strapi-development/*.7z
strapi/strapi-development/*.csv
strapi/strapi-development/*.dat
strapi/strapi-development/*.dmg
strapi/strapi-development/*.gz
strapi/strapi-development/*.iso
strapi/strapi-development/*.jar
strapi/strapi-development/*.rar
strapi/strapi-development/*.tar
strapi/strapi-development/*.zip
strapi/strapi-development/*.com
strapi/strapi-development/*.class
strapi/strapi-development/*.dll
strapi/strapi-development/*.exe
strapi/strapi-development/*.o
strapi/strapi-development/*.seed
strapi/strapi-development/*.so
strapi/strapi-development/*.swo
strapi/strapi-development/*.swp
strapi/strapi-development/*.swn
strapi/strapi-development/*.swm
strapi/strapi-development/*.out
strapi/strapi-development/*.pid


############################
# Logs and databases
############################

strapi/strapi-development/.tmp
strapi/strapi-development/*.log
strapi/strapi-development/*.sql
strapi/strapi-development/*.sqlite
strapi/strapi-development/*.sqlite3


############################
# Misc.
############################

strapi/strapi-development/*#
strapi/strapi-development/ssl
strapi/strapi-development/.idea
strapi/strapi-development/nbproject
strapi/strapi-development/public/uploads/*
strapi/strapi-development/!public/uploads/.gitkeep

############################
# Node.js
############################

strapi/strapi-development/lib-cov
strapi/strapi-development/lcov.info
strapi/strapi-development/pids
strapi/strapi-development/logs
strapi/strapi-development/results
strapi/strapi-development/node_modules
strapi/strapi-development/.node_history


############################
# Tests
############################

strapi/strapi-development/testApp
strapi/strapi-development/coverage

############################
# strapi
strapi-development/############################

strapi/strapi-development/.env
strapi/strapi-development/*.env
strapi/strapi-development/license.txt
strapi/strapi-development/exports
strapi/strapi-development/.cache
strapi/strapi-development/build

# extensions
strapi/strapi-development/.vscode
strapi/strapi-development/a.tmp
strapi/strapi-development/jwt.js

ssg/assets/img/.DS_Store
ssg/assets/.DS_Store
.DS_Store
test.*


# env
*.env
*.env2

# acty local
ssg/acty_run_local.sh
