extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    //- section.grid_article
    //-     section.article_hero_head
    //-         img(src=`/assets/img/static/tartuff_2019_ohust_1.jpg`).article_hero_image
    //-         .article_hero_headline_box
    //-             .article_title_detailed
    //-                 | Tartuffi külastaja meelespea 2020

    section.grid_article
        section.article_meta
            //- .str_info_meta_gi
            //-     .str_info_meta_item
            //-             .str_info_meta_value
            //-                 | Covid-19
            //-     .str_info_meta_item
            //-         .str_info_meta_value
            //-             | Tartuff
            //-     .str_info_meta_item
            //-         .str_info_meta_keywords
            //-             | #covid19 #koroonaviirus


        section.article_contents
                .film_title_detailed.margin_top_3.margin_bottom_2
                    | Hea Tartuffi külaline!
                p
                p
                    | Tulenevalt COVID-19 leviku ohust ja sellest tingitud avalike ürituste korraldamise reeglitest, palume Teil enda osalemine igal Tartuffi üritusel registreerida.
                p
                    | Küsime Teie nime, e-posti aadressi ja telefoninumbrit, et võimaliku COVID-19 nakkusjuhtumi ilmnemise korral oleks Terviseametil võimalik kõigi kontaktsetega kiiresti ühendust võtta.
                p
                a.btn.btn_covid.btn_covid_big.active(href='https://forms.gle/UU4sFENoWyZ3PjSF8' role='button' target='_BLANK')= self.label.button.covidRegister




        section.article_extra
