extends /_templates/layout.pug

block content

    if self.data.locations && process.env['DOMAIN'] === 'industry.poff.ee'
        each location in self.data.locations
            //- if location 
            h1 = location.name
                