section#carouselIndustryBannerIndicators.poffi_banner_box.carousel.slide(data-ride='carousel' data-interval='3000')

        //- KARUSELLI PILTIDE OSAD
        //- ol.carousel-indicators
        //-     li(data-bs-target='#carouselIndustryBannerIndicators' href='#carouselIndustryBannerIndicators' data-slide-to = 0)
        //-     li(data-bs-target='#carouselIndustryBannerIndicators' href='#carouselIndustryBannerIndicators' data-slide-to = 1)

        if lang_path === 'en/'
            .carousel-inner.container_frame_ind_banner
                //- a(href= `/en/films`).carousel-item.container_contents_ind_banner
                //-     img.d-block.container_contents_ind_banner(src=`https://assets.poff.ee/img/banner_soodusmyyk_en_2.jpg`)
                a(href= `/news/how-to-get-the-most-out-of-industry-tallinn/`).carousel-item.active.container_contents_ind_banner
                    img.d-block.container_contents_ind_banner(src=`https://assets.poff.ee/img/banner_ind_how_to.jpg`)

        else
            .carousel-inner.container_frame_ind_banner
                //- a(href= `/filmid`).carousel-item.container_contents_ind_banner
                //-     img.d-block.container_contents_ind_banner(src=`https://assets.poff.ee/img/banner_soodusmyyk_et_2.jpg`)
                a(href= `/news/how-to-get-the-most-out-of-industry-tallinn/`).carousel-item.active.container_contents_ind_banner
                    img.d-block.container_contents_ind_banner(src=`https://assets.poff.ee/img/banner_ind_how_to.jpg`)

        //- //- NOOL VASAK
        //- a.carousel-control-prev(href='#carouselIndustryBannerIndicators' role='button' data-slide='prev')
        //-     // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        //-     svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
        //-         polyline(points='15 18 9 12 15 6')
        //-     span.sr-only Previous

        //- //- NOOL PAREM
        //- a.carousel-control-next(href='#carouselIndustryBannerIndicators' role='button' data-slide='next')
        //-     // <span class="carousel-control-next-icon" aria-hidden="true"></span>
        //-     svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
        //-         polyline(points='9 18 15 12 9 6')
        //-     span.sr-only Next
