section#carouselPartnersIndicators.poffi_banner_box.carousel.slide(data-ride='carousel' data-interval='10000')

        //- //- KARUSELLI PILTIDE OSAD
        //- ol.carousel-indicators
        //-     li(data-bs-target='#carouselPartnersIndicators' href='#carouselPartnersIndicators' data-slide-to = 0)
        //-     li(data-bs-target='#carouselPartnersIndicators' href='#carouselPartnersIndicators' data-slide-to = 1)

        if lang_path === 'en/'
            .carousel-inner.container_frame_sponsors_banner
                a(href= `/en/supporters/`).carousel-item.active.container_contents_sponsors_banner
                    img.d-block.container_contents_sponsors_banner(src=`https://admin.poff.ee/uploads/banner_partnerid_2021_3_9b4c6574a3.svg`)
                //- a(href= `/en/supporters/`).carousel-item.container_contents_sponsors_banner
                //-     img.d-block.container_contents_sponsors_banner(src=`https://assets.poff.ee/img/banner_toetajad_2020.svg`)

        else
            .carousel-inner.container_frame_sponsors_banner
                a(href= `/toetajad/`).carousel-item.active.container_contents_sponsors_banner
                    img.d-block.container_contents_sponsors_banner(src=`https://admin.poff.ee/uploads/banner_partnerid_2021_3_9b4c6574a3.svg`)
                //- a(href= `/toetajad/`).carousel-item.container_contents_sponsors_banner
                //-     img.d-block.container_contents_sponsors_banner(src=`https://assets.poff.ee/img/banner_toetajad_2020.svg`)

        //- //- NOOL VASAK
        //- a.carousel-control-prev(href='#carouselPartnersIndicators' role='button' data-slide='prev')
        //-     // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        //-     svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
        //-         polyline(points='15 18 9 12 15 6')
        //-     span.sr-only Previous

        //- //- NOOL PAREM
        //- a.carousel-control-next(href='#carouselPartnersIndicators' role='button' data-slide='next')
        //-     // <span class="carousel-control-next-icon" aria-hidden="true"></span>
        //-     svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
        //-         polyline(points='9 18 15 12 9 6')
        //-     span.sr-only Next
