section#carouselExampleIndicators.poffi_banner_box.carousel.slide(data-ride='carousel' data-interval='3000')

        //- KARUSELLI PILTIDE OSAD
        ol.carousel-indicators
            li(data-target='#carouselExampleIndicators' data-slide-to = 0)
            li(data-target='#carouselExampleIndicators' data-slide-to = 1)
            li(data-target='#carouselExampleIndicators' data-slide-to = 2)
            li(data-target='#carouselExampleIndicators' data-slide-to = 3)

        if lang_path === 'en/'
            .carousel-inner.container_frame_poffi_banner
                a(href= `/letschat`).carousel-item.active.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/letschat-eng.png`)
                a(href= `/artikkel/turvajuhised-ja-nouanded/`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/mask-eng1.png`)
                a(href= `/en/about/how-do-i-watch-the-best-of-p-oe-ff-at-home-1`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/virtuaalkino-eng.png`)
                a(href= `/en/about/favourite-film`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/lemmikfilm-eng.png`)

        else
            .carousel-inner.container_frame_poffi_banner
                a(href= `/letschat`).carousel-item.active.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/letschat-est.png`)
                a(href= `/ru/artikl/instrukczii-i-sovety-po-bezopasnosti`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/mask-est1.png`)
                a(href= `/artikkel/veebikino-1`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/virtuaalkino.png`)
                a(href= `/artikkel/lemmikfilm`).carousel-item.container_contents_poffi_banner
                    img.d-block.container_contents_poffi_banner(src=`https://assets.poff.ee/img/lemmikfilm-est.png`)

        //- NOOL VASAK
        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
            // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='15 18 9 12 15 6')
            span.sr-only Previous

        //- NOOL PAREM
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
            // <span class="carousel-control-next-icon" aria-hidden="true"></span>
            svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='9 18 15 12 9 6')
            span.sr-only Next
