section#carouselSponsorIndicators.justi_banner_box.carousel.slide(data-bs-ride='carousel' data-bs-interval='6000')

        if process.env['DOMAIN'] === 'justfilm.ee'
            ol.carousel-indicators
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=0 class='active')
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=1)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=2)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)

            .carousel-inner.container_frame_justi_banner
                .carousel-item.active.container_contents_justi_banner
                    a(href=`https://www.swedbank.ee/private/home/segments/youth` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Swedbank_banner_Justfilm_1920x600px.jpg`)
                .carousel-item.container_contents_justi_banner
                    a(href=`https://booking.profitroom.com/et/kalevspahotelwaterpark/details/offer/748067?no-cache=1&currency=EUR` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/2025_Kalev_Spa_POFF_guests_et.png`)
                .carousel-item.container_contents_justi_banner
                    a(href=`https://www.kalevspa.ee/kalev-spa/uudised/uudis/2025/09/29/parast-kino-huppa-vette` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/2025_Kalev_Spa_Justfilm_guests_et.png`)
                //- .carousel-item.active.container_contents_justi_banner
                //-     a(href=`https://luxexpress.eu/ru/` target="_BLANK")
                //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_lux23_rus.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_etag_35be31369f.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=``)

            a.carousel-control-prev(href='#carouselSponsorIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselSponsorIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next

        //- FILMIKOOL ------------------------------------------------------------------------------------------------ FILMIKOOL
        if process.env['DOMAIN'] === 'filmikool.poff.ee'
            ol.carousel-indicators
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=0 class='active')
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=1)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=2)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)

            .carousel-inner.container_frame_justi_banner
                .carousel-item.container_contents_justi_banner
                    a(href=`https://swedbank.ee` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`/assets/img/static/just_2022_banner_swed.jpg`)
                .carousel-item.active.container_contents_justi_banner
                    a(href=`https://swedbank.ee` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`/assets/img/static/just_2022_banner_swed.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_etag_35be31369f.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=``)

            a.carousel-control-prev(href='#carouselSponsorIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselSponsorIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next


        //- INDUSTRY ------------------------------------------------------------------------------------------------ INDUSTRY
        if process.env['DOMAIN'] === 'industry.poff.ee'
            ol.carousel-indicators
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=0 class='active')
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=1)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=2)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)

            .carousel-inner.container_frame_justi_banner
                .carousel-item.active.container_contents_justi_banner
                    a(href=`https://issuu.com/blacknightsfilmfestival/docs/baltic_film_magazine_3_2025` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/BFM_2025_11_banner.jpg`)
                .carousel-item.container_contents_justi_banner
                    a(href=`https://creativegate.film` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/cg_banner_2025_1920x600.jpg`)
                .carousel-item.container_contents_justi_banner
                    a(href=`https://issuu.com/blacknightsfilmfestival/docs/baltic_film_1_2025` target="_BLANK")
                        img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Baltic_Film_Mag_banner_2025.png`)
                //- .carousel-item.active.container_contents_justi_banner
                //-     a(href=`https://luxexpress.eu/ru/` target="_BLANK")
                //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_lux23_rus.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_etag_35be31369f.jpg`)
                //- .carousel-item.container_contents_justi_banner
                //-     img.d-block.container_contents_justi_banner(src=``)

            a.carousel-control-prev(href='#carouselSponsorIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselSponsorIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next

        //- HÕFF hoff.ee ----------------------------------------------------------------

        if process.env['DOMAIN'] === 'hoff.ee'
            ol.carousel-indicators
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=0 class='active')
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=1)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=2)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)

            if lang_path === 'en/'
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://www.framare.ee/?lang=en` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/HOFFxFraMare_2025_banner.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://hoff.ee/en/search_screening/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/hoff_banner_2025_kava.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://hoff.ee/en/search_film/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/hoff_banner_2025_4.jpg`)


            if lang_path === 'ru/'
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://hotelbooking.tallink.com/search?lang=ru&hotels=6&checkin=12&nights=1&adult=1&baby=0&child=0&teenager=0&code=POFFPEOPLE` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2024_THG_RUS.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://www.filmfestival-goeast.de/en` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Banner_GoEast_2025_1920x600px.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://poff.ee/ru/artikl/bilety-i-abonementy-na-festival-2/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/POFF28_metseen_kodukab2nner_RUS.png`)


            if (lang_path !== 'en/' && lang_path !== 'ru/')
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://www.framare.ee` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/HOFFxFraMare_2025_banner.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://hoff.ee/otsi_seanssi/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/hoff_banner_2025_kava.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://hoff.ee/otsi_filmi/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/hoff_banner_2025_4.jpg`)


            a.carousel-control-prev(href='#carouselSponsorIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselSponsorIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next


        //- PÖFF ------------------------------------------------------------------------------------------------ PÖFF
        if process.env['DOMAIN'] === 'poff.ee'
            ol.carousel-indicators
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=0 class='active')
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=1)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=2)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=4)
                li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=5)
                //- li(data-bs-target='#carouselSponsorIndicators' data-bs-slide-to=3)

            if lang_path === 'en/'
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://poff.ee/en/in-focus-catalonia` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/catalan-focus_1920x600px.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://www.spain.info/en/thinkyouknowspain/?utm_source=newsletter&utm_medium=email&utm_campaign=POFF&utm_id=251125` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/BFM_2025_11_banner.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://admiralmarkets.com/?regulator=efsa?utm_source=facebook&utm_medium=SMM&utm_term=P%C3%96FF%2025%20EN&utm_campaign=post` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Admirals_2025_Banner_1920x600px_EN.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://forustakso.ee/en` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Foruslikud_taksod_1920x600_banner_eng.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://luxexpress.eu/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/LuxExpress_1920x600px_banner_EN.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://booking.profitroom.com/et/kalevspahotelwaterpark/details/offer/748067?no-cache=1&currency=EUR` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/2025_Kalev_Spa_POFF_guests_et.png`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/en/first-feature-competition/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_ff_en.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/en/critics-picks-competition/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_critics_en.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/en/rebels-with-a-cause-competition/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_rebels_en.jpg`)

            if lang_path === 'ru/'
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://poff.ee/ru/fookuses-kataloonia` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/catalan-focus_1920x600px.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://www.spain.info/en/thinkyouknowspain/?utm_source=newsletter&utm_medium=email&utm_campaign=POFF&utm_id=251125` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/BFM_2025_11_banner.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://admiralmarkets.com/ru?regulator=efsa?utm_source=facebook&utm_medium=SMM&utm_term=P%C3%96FF%2025%20RU&utm_campaign=post` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Admirals_2025_Banner_1920x600px_RU.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://forustakso.ee/ru` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Foruslikud_taksod_1920x600_banner_ru.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://luxexpress.eu/ru` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/LuxExpress_1920x600px_banner_RU.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://booking.profitroom.com/et/kalevspahotelwaterpark/details/offer/748067?no-cache=1&currency=EUR` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/2025_Kalev_Spa_POFF_guests_et.png`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/ru/konkursnaya-programma-debyutnyh-filmov/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_ff_en.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/ru/konkurs-vybor-kritikov/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_critics_en.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/ru/konkurs-buntari-ne-bez-prichiny/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_rebels_en.jpg`)

            if (lang_path !== 'en/' && lang_path !== 'ru/')
                .carousel-inner.container_frame_justi_banner
                    .carousel-item.active.container_contents_justi_banner
                        a(href=`https://poff.ee/fookuses-kataloonia` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/catalan-focus_1920x600px.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://www.spain.info/en/thinkyouknowspain/?utm_source=newsletter&utm_medium=email&utm_campaign=POFF&utm_id=251125` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/BFM_2025_11_banner.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://admiralmarkets.com/ee?regulator=efsa?utm_source=facebook&utm_medium=SMM&utm_term=PÖFF%2025%20EE&utm_campaign=post` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Admirals_2025_Banner_1920x600px_EE.png`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://forustakso.ee` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/Foruslikud_taksod_1920x600_banner_est.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://luxexpress.eu/` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/LuxExpress_1920x600px_banner_ET.jpg`)
                    .carousel-item.container_contents_justi_banner
                        a(href=`https://booking.profitroom.com/et/kalevspahotelwaterpark/details/offer/748067?no-cache=1&currency=EUR` target="_BLANK")
                            img.d-block.container_contents_justi_banner(src=`https://assets.poff.ee/img/2025_Kalev_Spa_POFF_guests_et.png`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/debueuetfilmide-voistlusprogramm/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_ff_et.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/kriitikute-valikud-voistlusprogramm/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_critics_et.jpg`)
                    //- .carousel-item.active.container_contents_justi_banner
                    //-     a(href=`https://poff.ee/pohjusega-maessajad-voistlusprogramm/` target="_BLANK")
                    //-         img.d-block.container_contents_justi_banner(src=`/assets/img/static/banner_2023_rebels_et.jpg`)


            a.carousel-control-prev(href='#carouselSponsorIndicators' role='button' data-bs-slide='prev')
                // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='15 18 9 12 15 6')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselSponsorIndicators' role='button' data-bs-slide='next')
                // <span class="carousel-control-next-icon" aria-hidden="true"></span>
                svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                    polyline(points='9 18 15 12 9 6')
                span.sr-only Next
