section#carouselExampleIndicators.justi_banner_box.carousel.slide(data-ride='carousel' data-interval='6000')

        ol.carousel-indicators
            li(data-target='#carouselExampleIndicators' data-slide-to = 0)
            li(data-target='#carouselExampleIndicators' data-slide-to = 1)
            li(data-target='#carouselExampleIndicators' data-slide-to = 2)
            li(data-target='#carouselExampleIndicators' data-slide-to = 3)

        .carousel-inner.container_frame_justi_banner
            .carousel-item.container_contents_justi_banner
                img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_swed_4cd8bcac6f.jpg`)
            .carousel-item.active.container_contents_justi_banner
                img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_mamma_qual_67b801cfb0.jpg`)
            .carousel-item.container_contents_justi_banner
                img.d-block.container_contents_justi_banner(src=`https://admin.poff.ee/uploads/just_2021_banner_etag_35be31369f.jpg`)
            //- .carousel-item.container_contents_justi_banner
            //-     img.d-block.container_contents_justi_banner(src=``)

        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
            // <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='15 18 9 12 15 6')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
            // <span class="carousel-control-next-icon" aria-hidden="true"></span>
            svg.svg_icon_prev_next(viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='1' fill='none' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='9 18 15 12 9 6')
            span.sr-only Next
