#text
    background-repeat no-repeat
    background-size cover
    background-position center

    &.desktop
        overflow hidden
        overflow-y auto

#text-text
    color rgb(199, 199, 199)
    background rgba(20, 20, 20, .9)
    font-weight 500
    font-size 12pt
    line-height 14pt

    img
        background rgba(255, 255, 255, .5)

    h2
        margin-top 30px
        text-transform uppercase
        font-weight 700
        font-size 12pt
        line-height 14pt

    a.text-link
        text-transform uppercase
        font-weight 700

        &.active
            color rgb(218, 56, 50)

            &:hover
                text-decoration none

    p:last-of-type
        margin 0

#text-search
    background rgb(6, 6, 6)

    h3
        font-size 13pt
        line-height 15pt

    p
        color rgb(199, 199, 199)
        font-size 8pt
        line-height 10pt

    button
        font-size 10pt
        background rgb(6, 6, 6)
        color rgb(255, 255, 255)


