extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    if process.env['DOMAIN'] === 'justfilm.ee'
        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_just.pug

        //- section.kuuekas
        include /_templates/home_templates/sixfilms_just.pug

        //- include /_templates/home_templates/sponsor_banner.pug

        section.trio_block
            include /_templates/home_templates/trio_block_just.pug

        section.viiekas
            include /_templates/home_templates/viiekas_just.pug


    else if process.env['DOMAIN'] === 'filmikool.poff.ee'
        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_filmikool.pug

        //- section.kuuekas
        include /_templates/home_templates/frontpagecourse_filmikool.pug

        //- include /_templates/home_templates/sponsor_banner.pug

        section.trio_block
            include /_templates/home_templates/trio_block_filmikool.pug

        //- section.viiekas
        //-     include /_templates/home_templates/viiekas_filmikool.pug


    else if process.env['DOMAIN'] === 'hoff.ee'
        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_hoff.pug

        section.trio_block
            include /_templates/home_templates/trio_block_hoff.pug

        //- include /_templates/home_templates/poff_banner_toetajad.pug

        //- include /_templates/home_templates/sponsorriba_1.pug

        section.viiekas
            include /_templates/home_templates/viiekas_hoff.pug

        //- include /_templates/home_templates/poff_banner_partnerid.pug


    else if process.env['DOMAIN'] === 'shorts.poff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_shorts.pug

        section.trio_block
            include /_templates/home_templates/trio_block_shorts.pug

        section.viiekas
            include /_templates/home_templates/viiekas_shorts.pug


    else if process.env['DOMAIN'] === 'kumu.poff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_kumu.pug

        section.trio_block
            include /_templates/home_templates/trio_block_kumu.pug

        section.viiekas
            include /_templates/home_templates/viiekas_kumu.pug

    else if process.env['DOMAIN'] === 'tartuff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_tartuff.pug

        section.trio_block
            include /_templates/home_templates/trio_block_tartuff.pug

        section.viiekas
            include /_templates/home_templates/viiekas_tartuff.pug

    else if process.env['DOMAIN'] === 'kinoff.poff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_kinoff.pug

        section.trio_block
            include /_templates/home_templates/trio_block_kinoff.pug

        section.viiekas
            include /_templates/home_templates/viiekas_kinoff.pug


    else if process.env['DOMAIN'] === 'oyafond.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_bruno.pug

        section.trio_block
            include /_templates/home_templates/trio_block_bruno.pug

        section.viiekas
            include /_templates/home_templates/viiekas_bruno.pug


    else if process.env['DOMAIN'] === 'industry.poff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_industry.pug

        //- include /_templates/industry_channels_calendar.pug

        section.trio_block
            include /_templates/home_templates/trio_block_industry.pug

        section.viiekas
            include /_templates/home_templates/viiekas_industry.pug

        //- include /_templates/home_templates/industry_banner.pug

    //- else if process.env['DOMAIN'] === 'filmikool.poff.ee'
    //-     - var whichTypesToDisplay = ['news']
    //-     - var heroPlusTrioNews = []

    //-     section.grid_hero
    //-         include /_templates/home_templates/hero_filmikool.pug

    //-     section.kuuekas
    //-     include /_templates/home_templates/frontpagecourse_filmikool.pug

    //-     section.trio_block
    //-         include /_templates/home_templates/trio_block_filmikool.pug

    //-     section.viiekas
    //-         include /_templates/home_templates/viiekas_filmikool.pug

    else if process.env['DOMAIN'] === 'discoverycampus.poff.ee'

        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_discamp.pug

        include /_templates/home_templates/frontpagecourse_discamp.pug

        section.trio_block
            include /_templates/home_templates/trio_block_discamp.pug

        section.viiekas
            include /_templates/home_templates/viiekas_discamp.pug

    else
        //- POFF
        - var whichTypesToDisplay = ['news']
        - var heroPlusTrioNews = []

        section.grid_hero
            include /_templates/home_templates/hero_poff.pug

        section.trio_block
            include /_templates/home_templates/trio_block_poff.pug

        include /_templates/home_templates/poff_banner_toetajad.pug

        //- include /_templates/home_templates/sponsorriba_1.pug

        section.viiekas
            include /_templates/home_templates/viiekas_poff.pug

        include /_templates/home_templates/poff_banner_partnerid.pug

        //- include /_templates/home_templates/poff_banner.pug
