extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    section.grid_article
        section.article_hero_head
            img(src=`/assets/img/static/tartuff_2019_ohust_1.jpg`).article_hero_image
            .article_hero_headline_box
                .article_title_detailed
                    | Tartuffi külastaja meelespea 2020

    section.grid_article
        section.article_meta
            .str_info_meta_gi
                .str_info_meta_item
                        .str_info_meta_value
                            | Meelespea
                .str_info_meta_item
                    .str_info_meta_value
                        | Tartuff
                .str_info_meta_item
                    .str_info_meta_keywords
                        | #covid19 #koroonaviirus


        section.article_contents
                p.font_weight_600
                    | Tartuffi Raekoja platsi mängufilmid ja üritused ning Athena keskuse filmid on kõigile tasuta.
                    br
                    | Filmiseanssidele istekohti ei reserveerita!
                p
                    | Festivali külastamisega lubad endale ja oma kaasvaatajatele, et
                ul
                    li.font_p.font_light
                        | Ei reserveeri enne filmi algust istekohti. Kohalt lahkudes jääb sinu istekoht vabaks!
                    li.font_p.font_light
                        | Kui tunned, et oled tõbine, vaata filme hoopis kodus, selsamal Tartuffi kodulehel
                    li.font_p.font_light
                        | Hoia teiste vaatajatega viisakat distantsi ning järgi vabatahtlike soovitusi. Soovi korral on infopunktis olemas desinfitseerimisvahendid.
                    li.font_p.font_light
                        | Lülita seansi ajaks mobiiltelefon helita režiimile.
                    li.font_p.font_light
                        | Jäta kõik klaaspudelid koju või poodi ning korista oma prügi enda järel ära.
                    li.font_p.font_light
                        | Ei suitseta filmi ajal, sest see võib häirida kaasvaatajaid.
                    li.font_p.font_light
                        | Vihma korral kasuta keepi, mitte vihmavarju. Vihmakeepe ja pusasid saab osta infopunktist.
                p
                    | Sinu Tartuff
                p.font_weight_600
                    |
                    br
                    | Hääleta oma lemmikfilmi poolt!
                p
                    | Hääletamiseks täida hääletussedel, mille leiad festivali infopunktist. Kõikide hääletajate vahel loositakse välja auhindu.
                p
                    | Auhinnad on välja pannud:
                    br
                    | Tartu 2024, ERM, Ahhaa, Tartu Uus Teater, Draamafestival, Vanemuine
                p
                    |
                p
                    |
                p
                    |


        section.article_extra
