extends /_templates/layout.pug
include /_templates/mixins.pug
//- include /_templates/chat_mixin.pug


block content

    //- KUI KASSETIS ON ROHKEM KUI 1 FILM
    if !self.films || self.films && self.films.length > 1

        include /_templates/cassette_templates/cassette_poff_multiple_films_template.pug

    //- KUI KASSETIS ON AINULT 1 FILM
    else if self.films && self.films.length === 1

        include /_templates/cassette_templates/cassette_poff_single_film_template.pug
