script(type='module').
    import { DeepChat } from "#{process.env['ChatBundle']}";
    let chatSessionId;
    const deepChatElement = document.getElementById('chat-element');
    deepChatElement.requestInterceptor = (requestDetails) => {
        if (chatSessionId) {
            requestDetails.body.chatSessionId = chatSessionId;
        }
        return requestDetails;
    };
    deepChatElement.responseInterceptor = (response) => {
        if (response.chatSessionId) {
            chatSessionId = response.chatSessionId;
        }
        return response;
    };
