include /_templates/chat_mixin.pug

doctype html
html(lang= self.locale)


    //- POFF
    if process.env['DOMAIN'] === 'poff.ee'
        include ../_templates/head_poff.pug
        // (onload='reloadImageOnError()')
        body
            //- Google Tag Manager iframe
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W2NM5HS' height='0' width='0' style='display:none;visibility:hidden')
            include ../_templates/header_poff.pug
            block content
            include ../_templates/footer.pug

    //- JUSTFILM
    else if process.env['DOMAIN'] === 'justfilm.ee'
        include ../_templates/head_justfilm.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_justfilm.pug
            block content
            include ../_templates/footer.pug

    //- SHORTS
    else if process.env['DOMAIN'] === 'shorts.poff.ee'
        include ../_templates/head_shorts.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_shorts.pug
            block content
            include ../_templates/footer.pug

    //- KINOFF
    else if process.env['DOMAIN'] === 'kinoff.poff.ee'
        include ../_templates/head_kinoff.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_kinoff.pug
            block content
            include ../_templates/footer.pug

    //- INDUSTRY
    else if process.env['DOMAIN'] === 'industry.poff.ee'
        include ../_templates/head_industry.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_industry.pug
            block content
            include ../_templates/footer.pug

    //- DISCAMP
    else if process.env['DOMAIN'] === 'discoverycampus.poff.ee'
        include ../_templates/head_discamp.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_discamp.pug
            block content
            include ../_templates/footer.pug


    //- HOFF
    else if process.env['DOMAIN'] === 'hoff.ee'
        include ../_templates/head_hoff.pug
        // (onload='reloadImageOnError()')
        body
            //- //- Messenger Chat Plugin Code
            //- #fb-root
            //- //- Your Chat Plugin code
            //- #fb-customer-chat.fb-customerchat
            //- script.
            //-     var chatbox = document.getElementById('fb-customer-chat');
            //-     chatbox.setAttribute("page_id", "178732824664");
            //-     chatbox.setAttribute("attribution", "biz_inbox");
            //-     // Your SDK code
            //- script.
            //-     window.fbAsyncInit = function() {
            //-     FB.init({
            //-     xfbml            : true,
            //-     version          : 'v13.0'
            //-     });
            //-     };
            //-     (function(d, s, id) {
            //-     var js, fjs = d.getElementsByTagName(s)[0];
            //-     if (d.getElementById(id)) return;
            //-     js = d.createElement(s); js.id = id;
            //-     js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
            //-     fjs.parentNode.insertBefore(js, fjs);
            //-     }(document, 'script', 'facebook-jssdk'));

            include ../_templates/header_hoff.pug
            block content
            include ../_templates/footer.pug

    //- Kumu Dokumentaal
    else if process.env['DOMAIN'] === 'kumu.poff.ee'
        include ../_templates/head_kumu.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_kumu.pug
            block content
            include ../_templates/footer.pug

    //- Tartuff
    else if process.env['DOMAIN'] === 'tartuff.ee'
        include ../_templates/head_tartuff.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_tartuff.pug
            block content
            include ../_templates/footer.pug

    //- Bruno Oja
    else if process.env['DOMAIN'] === 'oyafond.ee'
        include ../_templates/head_bruno.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_bruno.pug
            block content
            include ../_templates/footer.pug


    //- Filmikool
    else if process.env['DOMAIN'] === 'filmikool.poff.ee'
        include ../_templates/head_filmikool.pug
        // (onload='reloadImageOnError()')
        body
            include ../_templates/header_filmikool.pug
            block content
            include ../_templates/footer.pug


    //- no domain specified
    else
        body
            h1 Temporarily in confused state - domain? what domain?
