extends /_templates/layout.pug
include /_templates/mixins.pug

block content


    if self.data.locations && process.env['DOMAIN'] === 'industry.poff.ee'
        h1 "location"
        each location in self.data.locations
            //- if location 
            p location.name
                