#popup-background.d-none
#popup-content.p-3.d-none
    .col-12.py-2.text_right
        - var i = 0
        each url, locale in self.otherLocalePaths
            if i > 0
                span.px-3 /
            a.py-3(href=url)= self.language[locale]
            - i++
    +markdown(self.popup)
    img#popup-close(src='/assets/images/close.svg')
