extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    main.grid_film

        if self.festival_edition && self.festival_edition.name
            h1.dark_1= self.festival_edition.name
            br
        if self.name && typeof self.name !== 'object'
            h1.dark_1= self.name
            br
        if self.description && typeof self.description !== 'object'
            h1.dark_1= self.description
            br
            br
            br
            br
            br
            br
            div.payment
                button#buybutton.btn.btn-primary(onclick=`checkIfPasswordBuyer()`) OSTA
                button#directToLoginButton.btn.btn-primary(onclick=`directToLogin(), savePreLoginUrl()`) Ostmiseks logi sisse
                button#directToaddPicture.btn.btn-primary(onclick=`directToUserProfile(), savePreLoginUrl()`) Ostmiseks lisa endast pilt
                button#directToFillProfile.btn.btn-primary(onclick=`directToUserProfile(), savePreLoginUrl()`) Ostmiseks täida profiil lõpuni
                div#paymentLinks
                br
                div.dark_1#feedback
                br
                button#paybutton.btn.btn-primary(onclick=`BuyProduct("${self.codePrefix}")`) MAKSMA
                br
    style.
        #buybutton {display: none}
        #directToaddPicture {display:none}
        #directToFillProfile {display:none}
        #paybutton {display: none}
        [type=radio]{
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        [type=radio] + img {
            cursor: pointer;
        }
        [type=radio]:checked + img {
            outline: 4px solid #fd7e14;
        }


