
mixin trackMe()
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script.
        document.addEventListener('userProfileLoaded', function (e) {
            main(userProfile)
        })

        function main(userProfile) {
            hostname = document.location.hostname
            pathname = document.location.pathname
            const CHAT_SERVER = 'https://chat.poff.ee'
            const socket = io(CHAT_SERVER)
            socket.on('ping', () => {
                socket.emit('pong', {})
            })
            // Join
            socket.emit('Track me', {user_id: userProfile.sub, hostname, pathname})
            // ReJoin
            socket.on('Rejoin, please', () => {
                socket.emit('Track me', {user_id: userProfile.sub, hostname, pathname})
            })
        }
