extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    a(name='vialog-UZB5T141' style='display: grid; padding-top: 155px;')
        iframe(width='100%' height='540' src='https://my.vialog.app/poff.ee/241' frameborder='0' allow='microphone; camera')

        //- <a name="vialog-UZB5T141"><iframe width="100%" height="540" src="https://my.vialog.app/poff.ee/241" frameborder="0" allow="microphone; camera"></iframe></a>
